<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.keithapps.drinkinggames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GamesMenuMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/games_menu_title"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".circleofdeath.CircleOfDeathMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/text_circleofdeath"
            android:parentActivityName=".GamesMenuMain"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GamesMenuMain" />
        </activity>

        <activity
            android:name=".biscuit.BizkitMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/text_bizkit"
            android:parentActivityName=".GamesMenuMain"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GamesMenuMain" />
        </activity>
        <activity
            android:name=".ridethebus.RideTheBusMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/text_ridethebus"
            android:parentActivityName=".GamesMenuMain"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GamesMenuMain" />
        </activity>
    </application>

</manifest>
